*{
    margin:0;
    padding: 0;
}

body{
  background-color: #e9e9e9;
}


.cabezadePagina{
background-color: #92ea1a;
width: 100%;
height: 60px;
align-items: center;
display: flex;
}

.nombre-de-pagina{

margin-left: 20px;

font-size: 18px;
}

.encabezado-principal{
margin-left: 20px;
color:#a43bec;
text-align: center;
}

.encabezado-secundario{
margin-left: 20px;
color:#a43bec;
text-align: center;
}

.caja1{
background-color: #f7f7f7 ;
width: 20%;
height: 20%;
margin-left: 15%;
display: inline-block;
}

.caja2{
  background-color: #f7f7f7 ;
  width: 20%;
  height: 25%;
  margin-left: 2%;
  display: inline-block;
  }

.cajas-titulos{
text-align: center;
background-color: #92ea1a;
}

.cajas-img{
  display: block;
  margin: auto;
  width: 180px;
  align-items: center;
  height: 240px;
}



footer{
background-color: #92ea1a;
position: absolute;
bottom: 0;
width: 100%;
}

footer h2{
margin-left: 20px;
color: white;

}

